
.graficos-grid {

  display: grid;
  
  grid-template-columns: 1fr 1fr;
 
  gap: 20px;
 
}



.grafico-box {

  background: var(--fondo2);


  border: 1px solid var(--borde);
  
  border-radius: var(--radio);
  
  padding: 22px;
 
}


.grafico-box h3 {

  font-size: 15px;
 

  color: black;

  text-transform: uppercase;

  letter-spacing: 0.8px;
  

  font-weight: 700;

  margin-bottom: 18px;
 
}
