<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="layout">
        <aside class="sidebar" id="sidebar">
            <div class="sidebar-logo">
                <span class="logo-icono">⚙</span>
                <span class="logo-texto">Menú</span>
            </div>
            <nav class="sidebar-nav">
                <a href="#" class="nav-link activo" data-section="cliente">
                    <span class="nav-icono">👥</span>
                    <span>Clientes</span>
                </a>
                <a href="#" class="nav-link" data-section="facturas">
                    <span class="nav-icono">📄</span>
                    <span>Facturas</span>
                </a>
                <a href="#" class="nav-link" data-section="caja">
                    <span class="nav-icono">💵</span>
                    <span>Caja</span>
                </a>
                <a href="#" class="nav-link" data-section="compra">
                    <span class="nav-icono">🛍️</span>
                    <span>Compra</span>
                </a>
                <a href="#" class="nav-link" data-section="inventario">
                    <span class="nav-icono">📦</span>
                    <span>Inventario</span>
                </a>

                <a href="#" class="nav-link" data-section="empleado">
                    <span class="na-icono"></span>
                    <span>Empleados</span>
                </a>
            </nav>
        </aside>


        <div class="main-wrap">
            <header class="topbar">
                <h1 class="topbar-titulo" id="topbarTitulo">Clientes</h1>
            </header>
            <!--Contenido principal-->
            <main class="contenido">
                <section id="cliente" class="seccion activa">
                    <div class="tabla-contenido">
                        <div class="tabla-cabecera">
                            <h2>Lista de Clientes</h2>
                            <input type="text" class="buscador" id="buscarCliente" placeholder="🔍 Buscar cliente...">
                        </div>
                        <div class="cargando" id="cargandoCliente">
                            ⏳ Cargando datos desde la API...
                        </div>
                    </div>

                    <!--
                     CRUD DEL MODODULO DE CLIENTE
                        -->
                    <div class="botones" id="GRUD-cliente">
                        <button type="submit" class="btn" id="btnGuardar"><span class="btn-text">Guardar</span></button>
                        <button type="submit" class="btn" id="btnEditar"><span class="btn-text">Editar</span></button>
                        <button type="submit" class="btn" id="btnBorrar"><span class="btn-text">Borrar</span></button>
                    </div>

                    <div class="formulario" id="frm-cliente">
                        <form action="" class="form" >
                            <div class="form-grupo">
                                <input type="text" required class="input-nombre" id="nombre" autocomplete="off">
                                <label for= "nombre" class="lbl-nombre">
                                    <span class="text-nomb">Nombre</span>
                                </label>
                            </div>

                           <div class="form-grupo">
                                <input type="text" required class="input-nombre" id="apellido" autocomplete="off">
                                <label for="nombre" class="lbl-nombre">
                                    <span class="text-nomb">Apellidos</span>
                                </label>
                            </div>

                            <div class="form-grupo">
                                <input type="text" required class="input-nombre" id="numCedula" autocomplete="off">
                                <label for="nombre" class="lbl-nombre">
                                    <span class="text-nomb">Número de cédula</span>
                                </label>
                            </div>
                            <div class="form-grupo">
                                <input type="text" required class="input-nombre" id="telefono" autocomplete="off">
                                <label for="nombre" class="lbl-nombre">
                                    <span class="text-nomb">Teléfono</span>
                                </label>
                            </div>

                            
                        </form>
                    </div>
                    
                    <!--
                    TABLA DE CLIENTE
                    -->
                    <table class="tabla" id="tablaCliente">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Número de cédula</th>
                                <th>Teléfono</th>
                            </tr>
                        </thead>
                        <tbody id="bodyCliente">
                        </tbody>
                    </table>
                </section>

                <section id="facturas" class="seccion">
                    <div class="tabla-contenido">
                        <div class="tabla-cabecera">
                            <h2>Lista de facturas</h2>
                            <input type="text" class="buscador" id="buscarFactura" placeholder="🔍 Buscar factura...">
                        </div>
                        <div class="cargando" id="cargandoFactura">
                            ⏳ Cargando datos desde la API...
                        </div>
                    </div>
                        
                    <table class="tabla" id="tablaFactura">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Número de Factura</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Total</th>
                                <th>condicion</th>
                                <th>estado de Cuenta</th>

                            </tr>
                        </thead>
                        <tbody id="bodyFactura">
                        </tbody>
                    </table>

                    
                </section>

                <section id="caja" class="seccion">
                     <div class="tabla-contenido">
                        <div class="tabla-cabecera">
                            <h2>Caja</h2>
                        </div>
                        <p>Contenido de caja</p>
                    </div>
                </section>

                <section id="compra" class="seccion">
                     <div class="tabla-contenido">
                        <div class="tabla-cabecera">
                            <h2>Compras</h2>
                        </div>
                        <p>Contenido de compras</p>
                    </div>
                </section>

                <section id="inventario" class="seccion">
                    <div class="tabla-contenido">
                        <div class="tabla-cabecera">
                            <h2>Lista de inventario </h2>
                            <input type="text" class="buscador" id="buscarInventario" placeholder="🔍 Buscar productos...">
                        </div>
                        <div class="cargando" id="cargandoInventario">
                            ⏳ Cargando datos desde la API...
                        </div>
                    </div>

                    
                </section>

                <section id="empleado" class="seccion" >
                    <div class="tabla-contenido">
                        <div class="tabla-cabecera">
                            <h2>Lista de empleados</h2>
                            <input type="text" class="buscador" id="buscarEmpleado" placeholder="🔍 Buscar empleado...">
                        </div>
                        <div class="cargando" id="cargandoEmpleado">
                            ⏳ Cargando datos desde la API...
                        </div>

                        <button class="btn btn-primario" onclick="abrirModalEmpleado('crear')">
                            + Nuevo empleado
                        </button>

                    </div>

                    <table class="tabla" id="tablaEmpleado">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Teléfono</th>
                                <th>Número de cédula</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="bodyEmpleado">
                        </tbody>
                    </table>

                </section>

            <!--Modal empleado-->
            <div class="modal-overlay" id="modalEmpleado">
                <div class="modal">
                    <div class="modal-header">
                        <h3 id="modalTextEmpleado">Nuevo empleado</h3>
                        <button class="modal-cerrar" onclick="cerrarModal('modalEmpleado')">✕</button>
                    </div>

                    <div class="modal-body">
                        <div class="form-grupo">
                            <input type="text" required class="input-nombre" id="empNombre" autocomplete="off">
                            <label for= "empNombre" class="lbl-nombre">
                                <span class="text-nomb">Nombre</span>
                            </label>
                        </div>

                        <div class="form-grupo">
                            <input type="text" required class="input-nombre" id="empApellidos" autocomplete="off">
                            <label for= "empApellidos" class="lbl-nombre">
                                <span class="text-nomb">Apellidos</span>
                            </label>
                        </div>

                        <div class="form-grupo">
                            <input type="text" required class="input-nombre" id="empTelefono" autocomplete="off">
                            <label for= "empTelefono" class="lbl-nombre">
                                <span class="text-nomb">Teléfono</span>
                            </label>
                        </div>

                        <div class="form-grupo">
                            <input type="text" required class="input-nombre" id="empCedula" autocomplete="off">
                            <label for= "empCedula" class="lbl-nombre">
                                <span class="text-nomb">Número de cédula</span>
                            </label>
                        </div>

                        <p class="form-error" id="error"></p>
                    </div>

                    <div class="class-footer">
                        <button class="btn btn-secundario" onclick="cerrarModal('modalEmpleado')">Cancelar</button>

                        <button class="btn btn-primario" onclick="guardarEmpleado()">Guardar</button>
                    </div>
                    
                </div>

            </div>
            </main>

        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/frontend/layout/accion.js"></script>
    
</body>
</html>